@use "../../helpers/helper.scss" as h;

body {
  overflow: hidden;
  font-family: h.$space-mono;
}

.kp-app {
  background-color: #fff;
  position: relative;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.7s ease-out, visibility 0.7s ease-out;

  &.display {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity 0.7s ease-in, visibility 0.7s ease-in;
  }
}

.kp-loader {
  position: absolute;
  inset: 0;
  z-index: 99;
  background-color: #000;
  transform: translateY(-100%);

  &.active {
    animation: loader 3s cubic-bezier(0.76, 0, 0.24, 1) forwards;
  }

  @keyframes loader {
    0% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(100%);
    }
  }
}

.kp-navbar {
  @include h.flex($justify: space-between);
  padding: 1.5rem h.$px-main;
  font-size: 0.9rem;

  &-logo {
    font-family: h.$jetbrains-mono;
    font-size: 1.2rem;
    cursor: pointer;

    @include h.line-hover(0.7s);
  }

  &-links {
    @include h.flex();
    gap: 3.6rem;

    .link {
      cursor: pointer;
      @include h.line-hover();

      &.active {
        font-family: h.$jetbrains-mono;
        font-weight: 500;
      }
    }
  }

  &-mobile {
    display: none;
  }
}

@mixin content($m: 0, $w: 16rem, $t-align: left) {
  margin: $m;
  width: $w;
  text-align: $t-align;
}

.kp-core {
  padding: 2.3rem h.$px-main 0;
  @include h.flex($start: true);
  gap: 4.1rem;

  &-content1 {
    @include content();

    &.contact {
      @include content();
      cursor: pointer;

      .wrapper-loan {
        width: fit-content;
        margin: 0 auto 1rem 0;
        @include h.line-hover();
      }
    }
  }

  &-image {
    position: relative;
    width: 32rem;
    height: 24rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-content2 {
    @include content($m: auto 0 5rem auto, $t-align: right);

    &.contact {
      @include content($m: auto 0 8.2rem auto, $w: fit-content);
      cursor: pointer;

      .wrapper-loan {
        width: inherit;
        margin: 1rem 0 0 auto;
        @include h.line-hover($time: 0.7s);
        z-index: 10;
      }
    }
  }
}

.kp-me {
  position: absolute;
  bottom: 0;
  overflow: clip;

  &-marquee {
    line-height: 125%;
    font-size: 16rem;
    text-transform: lowercase;
    width: max-content;
    animation: marquee 20s linear infinite forwards;
    mix-blend-mode: difference;

    span {
      color: #fff;
    }
  }
}

@keyframes marquee {
  to {
    transform: translateX(-50%);
  }
}
