@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$jetbrains-mono: "JetBrains Mono", serif;
$space-mono: "Space Mono", serif;

$px-main: 1.9rem;

@mixin flex(
  $direction: row,
  $justify: center,
  $align: center,
  $start: false,
  $end: false
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;

  @if $start {
    justify-content: flex-start;
    align-items: flex-start;
  }

  @if $end {
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin line-hover($time: 0.45s, $h: 1.2px) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: $h;
    background-color: #000;
    bottom: -0.2rem;
    left: 0;
    transform: scaleX(0);
    transition: transform $time ease;
    transform-origin: left;
  }

  &:hover {
    &::after {
      transition: transform $time ease;
      transform: scaleX(1);
    }
  }
}
